{% extends "main/layout/base.html" %}

{% block title %}
    <title>about</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/main/css/about.css" media="screen">
{% endblock %}

{% block content %}
    <section class="u-clearfix u-section-1" id="sec-6e16">
        <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
            <img class="u-expanded-height u-image u-image-contain u-image-default u-image-1" src="../../static/main/img/image0.jpg" alt="" data-image-width="551" data-image-height="500">
            <p class="u-align-justify u-text u-text-1"> Street Corner — лучший маркетплейс  в России, который отобрал для Вас лучшие бренды streetwear.</p>
            <p class="u-align-justify u-text u-text-2"> На нашем сайте представлено более 100 позиций одежды.
                При отборе брендов мы ориентируемся на вещи средней ценовой категории. На нашем сайте Вы сможете подобрать себе одежду на любой вкус и выделиться из серой толпы.
                Наш бизнес устроен так, чтобы предложить покупателям низкие цены в сочетании с короткими сроками доставки и лучшим качеством. </p>
        </div>
    </section>
{% endblock %}
